api:
  on_client_connected:
    - esp32_ble_tracker.start_scan:
        continuous: true
  on_client_disconnected:
    if:
      condition:
        not:
          api.connected:
      then:
        - esp32_ble_tracker.stop_scan:

bluetooth_proxy:
  active: true

esp32_ble_tracker:
  id: ble_tracker
  scan_parameters:
    active: true
    continuous: false
