# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
.vscode

# Jekyll
static/_site
static/Gemfile.lock
FLASHING_INSTRUCTIONS.md
ADOPT_AND_FLASH.md
PULL_REQUEST.md
USING_YOUR_FORK.md
bed-presence-mk1-myfork.yaml
