name: CI

on:
  pull_request:
  push:
    branches:
      - '!main'
      - '!dependabot/**'
      - '!gh-pages'
  workflow_dispatch:

jobs:
  ci:
    name: Building ${{ matrix.file }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        file:
          - bed-presence-mk1.factory.yaml
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4.1.7
      - name: Build ESPHome firmware to verify configuration
        uses: esphome/build-action@v4.0.1
        with:
          yaml-file: ${{ matrix.file }}
      - uses: actions/upload-artifact@v4.3.6
        with:
          name: ${{ matrix.file }}
          path: ${{ steps.esphome-build.outputs.name }}
